services:
  mysql:
    image: mysql:8.0
    container_name: sweettime-mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: sweettime
      MYSQL_USER: sweettime
      MYSQL_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: sweettime-phpmyadmin
    restart: unless-stopped
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "8080:80"
    depends_on:
      - mysql

  redis:
    image: redis:7.2
    container_name: sweettime-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  fake_smtp:
    image: haravich/fake-smtp-server:latest
    ports:
      - "1080:1080"
      - "1025:1025"

volumes:
  mysql_data:
  redis_data: